<h1 class="mt-5 mb-5 text-center">Bienvenido a la App de Rick and Morty</h1>


<div class="container mt-5">
    <div class="row align-items-center">
        <!-- Imagen a la izquierda -->
        <div class="col-md-6">
            <img src="OEKCSJM6EVALLNKGJJS3KDSU74.jpg" alt="Imagen" class="img-fluid">
        </div>

        <!-- Texto a la derecha -->
        <div class="col-md-6 mt-5">
            <h2>Explora personajes </h2>


        </div>
    </div>


    <div class="row align-items-center">
        <!-- Texto a la izquierda -->
        <div class="col-md-6 mt-5">
            <h2>y conectate con nosotros a través de nuestro formulario</h2>
        </div>
    
        <!-- Imagen a la derecha -->
        <div class="col-md-6">
            <img src="1335145.jpg" alt="Imagen" class="img-fluid">
        </div>
    </div>


   
    


    



</div>