/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Customfont";
    src: url("./fonts/Gyrotrope-Regular.otf");
  }
  
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Customfont";
    box-sizing: border-box;
    font-size: 1vw;
  }